body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('relogio2.gif'); /* Substitua 'sua_imagem.jpg' pelo caminho para a sua imagem */}

h1 {
    color: #000000;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
    width: 200px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #333;
    background-color: #ff00aa;
}
